html, body, *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: sans-serif;
}

body{

    background-color: rgb(1, 39, 40);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: #fff;
    /* overflow: hidden; */
}

.main_container{
    margin: 50px auto;
    max-width: 600px;
    min-width:  350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    gap: 40px;
    max-height: 100vh;
    overflow: h;
}

h2{
    font-size: 2rem;
    text-transform: uppercase;
}

.main_text_container{
    margin-top: 20px;
    border: 1px solid rgb(32, 106, 106);
    border-radius: 3px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;

}

.paraph_container {
    text-align: justify;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(21, 92, 93);
    padding: 15px;
}

.result_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.result_container > section{
    margin: 8px  20px;
}

.result_container > section > button{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 2px;
    background: rgb(2, 255, 247);
    border: 1px solid rgb(2, 255, 247);
    font-weight: 600;
    color: #011e1e;
    transition: all .6s;
}

.result_container > section > button:hover{
    background: #011e1e;
    color: rgb(2, 255, 247);
}

.errors{
    color: yellow;
}
#typed_text{
    border: 10px #011e1e;
    border-style: ridge;
    outline: none;
    border-radius: 5px;
    resize: none;
    padding: 20px;
    background-color: rgb(0, 255, 242);
    color: #011e1e;
    font-size: 1.5rem;
}
